/* 
    IBM In-house {Web Coder} course Assignment Snippet.
    CSS file.
    For internal IBM use.
*/


/*  ----- HTML Body Styles -----  */
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  
  /* For Padding for top navbar fixed  */
  padding-top: 70px; 
}



body{
	font-family: "Lato";
	margin: 0;

	height: 60vh;
  background-image: url(images/IMG_5248.JPG); 
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: white; 
	background-attachment: fixed;
}










html {
  height: 100%;
  box-sizing: border-box;
}

/* Responsive typography */
html {
    font-size: 14px;
  }
  
  /* 
  @include media-breakpoint-up(sm) {
    html {
      font-size: 16px;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 20px;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 28px;
    } 
  */

  }

/* Box-sizing */
.selector-for-some-widget {
    box-sizing: content-box;
}

/* LAYOUT - Responsive breakpoints */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {  

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {  

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {  
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}

/* GRID -  */

.bkheight {
  max-height: 250px;
}

.my-face{
	display: block;
	width: 100px;
	height: 100px;
	margin: auto; 
	border-radius: 20%;
	border: 1px solid #aaa;
	
}

/* .jumbotron{
	height: 80vh;
  background-image: url(images/table-tennis.jpg) ;
  background-repeat: no-repeat;
	background-size: align-self: auto;;
	background-position: center;
	background-color: white; 
	background-attachment: fixed;

} */





.jumbotron{
  height: 30vh;
  background-image: url(images/table_tennis.gif);
  background-repeat: no-repeat;
  /* background-size: align-self: auto; */
  background-size: 1000px;
	background-position: center;
	background-color: rgb(241, 154, 154); 
	background-attachment: fixed;

}







.jumbotron_1{
	height: 80vh;
  background-image: url(images/animated_badminton.gif);
  background-repeat: no-repeat;
	background-size: align-self: auto;;
	background-position: center;
	background-color: white; 
	background-attachment: fixed;

}


.jumbotron_2{
	height: 80vh;
  background-image: url(images/IMG_7606.JPG);
  background-repeat: no-repeat;
	background-size: align-self: auto;;
	background-position: center;
	background-color: white; 
	background-attachment: fixed;

}

